<!DOCTYPE html>
<html>
<head>
    <title>FB2YT+</title>
<style>
body {
text-align: center;
margin: 0 auto;
width:100%;
}

</style>
</head>
<body><br><br>
    <h2>Facebook > Youtube + CD</h2>
    <br>
    <form action="/upload" method="post">
        <label for="video_link"><h4>Facebook Video Link:</h4></label>
        <input type="text" name="facebook_link" id="facebook_link" required><br>
        
        <label for="video_title"><h4>YouTube Title:</h4></label>
        <input type="text" name="youtube_title" id="youtube_title" required><br>
        
        <label for="video_description"><h4>YouTube Description:</h4></label>
        <input type="text" name="youtube_description" id="youtube_description" ></label><br><br>
        <text>(Leave description blank for default.)</text>
        <br><br>
        <input type="submit" value="Submit">
    </form>
<br>
<p>** Connect drive w/ disk if you want to make a CD **</p>
</body>
</html>
